* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


/* base rule */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
}

a,
li,
p {
    font-size: 1.5rem;
    word-spacing: 0.1rem;
    font-weight: 400;
    color: gray;
}

a {
    text-decoration: none;
    font-family: sans-serif;
}

li {
    list-style: none;
}

.container {
    max-width: 90%;
    padding: 9.6rem 2.4rem;
    margin: 0 auto;
}

/* .nav-section .container{
    padding: 0 2.4rem;
} */

:is(.about-sec,
    .blog-sec,
    .contact-sec,
    .course-sec,
    .choose-sec,
    .contact-sec-homepage) .container:first-child {
    padding: 6.4rem 2.4rem 2.4rem 2.4rem;
}



.btn {
    position: relative;
    padding: 1rem 2rem;
    background-color: #058d9e;
    display: inline-block;
    color: white;
    letter-spacing: 0.2rem;
    border-radius: 0.6rem;
}

.btn svg,
.btn svg rect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
}

.btn:hover {
    stroke-width: 4;
    stroke: white;
    stroke-dasharray: 80;
    animation: sk .2s linear;
}

@keyframes sk {
    0% {
        stroke-dasharray: 1;
    }

    25% {
        stroke-dasharray: 2;
    }

    50% {
        stroke-dasharray: 3;
    }

    100% {
        stroke-dasharray: 4;
    }
}

.common-sec-heading {
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.common-sec-subheading {
    color: rgb(89, 87, 87);
    font-size: 1.6rem;
}

.common-sec-title {
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
}

/* nav-section */

.nav-section {
    background-color: #2b4f77;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.8) 0px 0px 0px 1px;
}

.nav-section .container span {
    color: cyan;
    font-size: 2.4rem;
    text-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan
}


.nav-section .container a {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.nav-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0;
}


.nav-section .navbar ul {
    display: flex;
    gap: 3.2rem;

    & li a {
        color: #f3f3f3;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -0.8rem;
            width: 0%;
            border-bottom: 0.3rem solid #beedbe;
            transition: all .3s;
            transform: translateX(-50%);

        }
    }

    & li a:hover:after {
        width: 100%;
    }
}

/* her0-section */

main {
    position: relative;
    background-image: linear-gradient(to top right, #4a6fa9, #4484fb, #6aa0ff, #3e6486, #003071);
    /* background-image: linear-gradient(to top right, #20577b, #21125e, #000000, #000000, #003071); */
}


.custom-shape-divider-bottom-1704173440 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1704173440 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.custom-shape-divider-bottom-1704173440 .shape-fill {
    fill: #FFFFFF;
}


.hero-sec-image img {
    height: 100%;
    position: relative;
    bottom: 0;
    left: 50%;
}

.hero-sec-image .shape {
    width: 75%;
    height: auto;
    left: 10%;
}

.hero-sec-image .man {
    width: 25%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 60%;
    filter: drop-shadow(20px 2px 9px #0f2138);
    padding-bottom: 2.5rem;
    transition: all .3s linear;
}

.hero-sec-image .man:hover {
    scale: 1.05;
}


.hero-sec .grid {
    align-items: center;
    gap: 6.4rem;
}

.grid {
    display: grid;
}

.grid-two-cols {
    grid-template-columns: repeat(2, 1fr);
}

.hero-sec .hero-subheading {
    font-size: 4rem;
    word-spacing: 0.2rem;
    color: #0c439a;
    font-weight: 500;
}

.hero-sec .hero-heading {
    font-size: 4rem;
    font-style: initial;
    font-weight: 600;
    display: flex;
}

.hero-sec .hero-heading .typing-text {
    color: #021b79;
    white-space: nowrap;
    overflow: hidden;
    border-right: .4rem solid #0ee3ff;
    animation: typing 5.2s steps(35) infinite;
}

@keyframes typing {
    0% {
        width: 0ch;
    }

    50% {
        width: 22ch;
    }

    100% {
        width: 0ch;
    }

}

.hero-sec .hero-para {
    font-size: 2rem;
    word-spacing: 0.2rem;
    color: rgb(234, 234, 234);
    margin-top: 2.5rem;
}

.hero-sec .hero-btn {
    margin-top: 5rem;
}


.hero-sec .hero-social-icons {
    display: flex;
    margin-top: 4rem;
    gap: 2.4rem;
}

.hero-sec .hero-sec-content .fa-brands {
    font-size: 3rem;
    width: 4rem;
    aspect-ratio: 1;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
}

.hero-sec .hero-sec-content .fa-brands:hover {
    background-color: rgb(123, 21, 55);
    rotate: 360deg;
}


/* about-section */

.about-sec img {
    padding: 2.3rem;
    background-color: #f3f3f3;
    width: 14rem;
    height: auto;
    border-radius: 50%;
    transition: all 0.4s linear;
}

.icon:hover>img {
    rotate: 360deg;
    background: linear-gradient(to right, #0575e6, #021b79);
}

.about-sec .about-div {
    text-align: center;
    width: 400px;
}

.grid-three-cols {
    grid-template-columns: repeat(3, 1fr);
}

.resp_about {
    /* grid-template-columns: repeat(3, 1fr); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.about-sec .grid {
    gap: 5.4rem;
}

/* course-section */

.fa-solid {
    padding: 2.4rem;
    font-size: 2.4rem;
    border-radius: 50%;
    background-color: #f3f3f3;
    color: blue;
}

.course-sec {
    background-color: #edffed;
}

.course-sec .grid {
    gap: 6.4rem;
}

.course-sec .course-div {
    padding: 2.4rem;
}

.course-sec .course-div:hover {
    background-color: white;
    box-shadow: rgb(0 0 0 / 20%) 0px 7px 29px 0px
}

.grid-four-cols {
    grid-template-columns: repeat(4, 1fr);
}

.course-div:nth-child(2) .icon .fa-solid {
    color: #68bf9b;
    background-color: #e7f6e7;
}

.course-div:nth-child(3) .icon .fa-solid {
    color: #ff8b52;
    background-color: #fbebe8;
}

.course-div:nth-child(4) .icon .fa-solid {
    color: #183d3d;
    background-color: #ccf7f7;
}

.course-div:nth-child(5) .icon .fa-solid {
    color: #d988b9;
    background-color: rgb(247, 223, 238);
}

.course-div:nth-child(6) .icon .fa-solid {
    color: #ff9b50;
    background-color: #f6dfd6;
}

/* choose section */

.choose-sec .grid {
    gap: 9.6rem;
}

.text-high {
    width: 6rem;
    aspect-ratio: 1;
    background-color: #f3f3f3;
    color: #4484fb;
    font-size: 2.4rem;
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choose-sec .text-align-right .why-choose-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    text-align: right;
}

.choose-center-div img {
    width: 100%;
    height: auto;
    transition: all 0.3s linear;
}

.choose-center-div img:hover {
    scale: 1.2;
}

.choose-center-div,
figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.choose-center-div figure::before,
.choose-center-div figure::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #021b79;
    width: 45rem;
    height: 50rem;
    border-radius: 50%;
    z-index: -1;
}

.choose-center-div figure::after {
    width: 50rem;
    z-index: -2;
    background-color: transparent;
    border: 0.5rem solid #e6e4e4;
}

.choose-center-div figure::before {
    animation: circle 5s linear infinite;
}

@keyframes circle {
    0% {
        background-color: #b3d0ff;
    }

    25% {
        background-color: #80b1ff;
    }

    50% {
        background-color: #4d91ff;
    }

    75% {
        background-color: #99c0ff;
    }

    100% {
        background-color: #3381ff;
    }
}

.why-choose-div {
    margin-top: 3.2rem;
}


/* homepage contact */

.contact-sec-homepage {
    width: 60%;
    min-height: 30rem;
    margin: 0 auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 0.2rem;
    padding: 0 3.2rem;
    position: relative;
    bottom: -15rem;
    z-index: 1;
    background-color: white;
    margin-top: -11rem;

    & .grid {
        align-items: center;
        gap: 6.4rem;
    }
}

.contact-title {
    font-size: 3.8rem;
    line-height: 1.2;
}

.contact-content p {
    margin: 1.2rem 0 2.4rem 0;
}

.contact-sec-homepage a {
    color: white;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-sec-homepage .fa-solid {
    padding: 0;
    color: white;
    background-color: #058d9e;
}

.contact-sec-homepage img {
    width: 90%;
    height: auto;
}

/* footer */


footer {
    background-color: black;
    padding-top: 15rem;
}

footer * {
    color: white;
}

footer .grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-subheading {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.footer-1-div p {
    margin: 1rem 0 3.2rem 0;
}

.footer-1-div {
    text-align: center;
}

footer .footer-1-div .footer-social-icons {
    display: flex;
    margin-left: 2.5rem;
    gap: 2.4rem;
}

footer .footer-1-div .fa-brands {
    font-size: 3rem;
    width: 4rem;
    aspect-ratio: 1;
    color: #0575e6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
}

footer .footer-1-div .fa-brands:hover {
    background-color: #f3f3f3;
    color: #0b2042;
    rotate: 360deg;
}

.ham {
    position: relative;
    display: flex;
    background: #699fff;
    border-radius: 50%;
    padding: 0;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    right: 0;
    display: none;

}

.ham::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0.5em 0 0 #fff, 0 1em 0 0 #fff;
    top: 19px;
}

.cross {
    text-align: right;
    display: none;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    /* display: none; */
    top: 0;
    left: -100%;
    background: #0000006b;
    z-index: 8;
}




/* responsive */


@media (max-width: 1400px) {

    html {
        font-size: 56.25%;
    }

    .hero-sec-img {
        width: 90%;
    }

}


@media (max-width: 1220px) {

    html {
        font-size: 54%;
    }



}


@media (max-width: 998px) {
    .grid-three-cols {
        grid-template-columns: repeat(1, 1fr);
    }

    .choose-sec .text-align-right .why-choose-div {
        align-items: center;
        text-align: center;
    }

    .why-choose-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grid-four-cols {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-sec {
        & .grid-two-cols {
            grid-template-columns: 1fr;
        }

        & .hero-sec-content {
            order: 2;
            display: grid;
        }

        & .hero-sec-image {
            order: 1;
        }

        /* & .hero-sec-image .man{
            order: 1;
        } */


    }

    .hero-sec-image .shape {
        width: 38%;
        left: 25%;
    }

    .hero-sec-image .man {
        left: 34%;
        top: 6%;

    }

}

@media (max-width: 768px) {
    .grid-four-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-sec-homepage {
        width: 80%;
    }

    .contact-title {
        font-size: 3rem;
    }

    .contact-sec-homepage & .grid {
        gap: 3.4rem;
    }

    .container {
        padding: 5.6rem 2.4rem;
    }
}

@media (max-width: 571px) {
    .nav-section .navbar {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 9;
        background: #315493;
        width: 300px;
        padding: 20px;
        height: 100%;
        transition: .3s;
    }
    .nav-section .navbar ul {
        flex-direction: column;
    }

    .cross {
        display: block;
    }

    .ham {
        display: flex;
    }
    :is(.about-sec, .blog-sec, .contact-sec, .course-sec, .choose-sec, .contact-sec-homepage) .container:first-child {
        padding: 3.4rem 0rem;
    }
    .grid-two-cols {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 461px) {
    .hero-sec .hero-subheading,
    .hero-sec .hero-heading {
        font-size: 3rem;
    }
    .choose-center-div figure::after {
        width: 42rem;
    }
    .choose-center-div figure::before, .choose-center-div figure::after {
        width: 35rem;
        height: 40rem;
    }
    .choose-center-div img {
        width: 80%;
    }
    .course-sec .grid {
        gap: 2.4rem;
    }
    .grid-four-cols {
        grid-template-columns: repeat(1, 1fr);
    }

    
}
@media (max-width: 421px) {
    .hero-sec .hero-subheading, .hero-sec .hero-heading {
        font-size: 2.7rem;
    }
    
}
